/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootswatch/superhero/variables";
 @import "bootstrap";
 @import "bootswatch/superhero/bootswatch";

.box_center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.center {
  margin: auto;
  width: 150px;
  padding: 10px;
}

.border {
  border: solid orange;
}

.botton{
  border-radius: 5px;
  background-color: orange;
}

.woods{
  background-image: url('woods.jpg');
  background-size: cover;
}

.opacity{
  background-color: rgba(5, 2, 0, 0.4);
}

.letter_color {
  color: rgba(228, 146, 58, 1);
}

h1 {
  color: rgba(228, 146, 58, 1);
  font-family: fantasy;
}

div {
  color: rgba(228, 146, 58, 1);
  font-family: fantasy;
}

.padding-welcome{
  padding-top: 8px;
  float: right;
}

.padding-box{
  width: 300px;
  height: 250px;
}

.padding-title{
  width: 350px;
}
