/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootswatch/superhero/variables";
 @import "bootstrap";
 @import "bootswatch/superhero/bootswatch";

.box_center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.center {
  margin: auto;
  width: 150px;
  padding: 10px;
}

.border {
  border: solid #2b3e50;
}

.woods{
  background-image: url('woods.jpg');
  background-size: cover;
}

.opacity{
  background-color: rgba(255, 255, 255, 0.8);
}

.letter_color {
  color: rgba(228, 146, 58, 1)!important;
}

h1 {
  color: rgba(228, 146, 58, 1);
  font-family: fantasy;
}

div {
  color: rgba(228, 146, 58, 1);
  font-family: fantasy;
}

h4 {
  line-height: 30px;
}

.title-color{
  color: rgba(4, 87, 169, 1);
}

.comment-color{
  color: rgba(224, 35, 6, 1);
}

.padding-welcome{
  padding-top: 8px;
  float: right;
}

.padding-box{
  width: 300px;
  height: 250px;
}

.padding-title{
  width: 350px;
}

.padding-text{
  padding: 15px 10px 0 20px;
}

.text-size{
  font-size: 30px;
}

.text{
  font-size: 23px;
}

.botton{
  border: solid #2b3e50;
  border-radius: 10px;
  margin: 10px 0 5px 0;
  background-color: #2b3e50;
}

.align-center{
  text-align: center;
}
